doctype html
html(lang="es")
    head
        include partials/header

    body.login 
        .contenedor-formulario 
            h1= nombrePagina
            p Agregar tu E-mail para restablecer la contraseña
            if locals.mensajes  
                .alertas 
                    each categoria in Object.keys(locals.mensajes)
                        each error in mensajes[categoria]
                            .alerta(class=`${categoria}`)
                                p= error

            form.caja-login(method="POST" action="/restablecer")
                .campo 
                    label(for="email") Email 
                    input(type="email" name="email" placeholder="Tu Email" value=email)

                .campo.enviar 
                    input.boton(type="submit" value="Restablecer") 
                .campo.acciones
                    a(href="/iniciar-sesion") Y lo recorde, volver al login 

